
.documenti-card {
    display: flex;
    .documenti-card-thumb {
        padding-right: 20px;
        img {
            width: 90px;
            height: 120px;
            border-radius: 10px;
            object-fit: cover;
            object-position: center center;
        }
    }
    .documenti-card-link {
        flex-grow: 1;
    }
}

a.doc-link {
    position: relative;
    display: inline-block;
    &::before {
        display: inline-block;
        position: relative;
        top: 4px;
        content: '';
        width: 34px;
        height: 24px;
        background: url('../../images/_txt.png') no-repeat left center;
        background-size: contain;
    }
}

a[href$=".xls"]::before,
a[href$=".XLS"]::before {
    background-image: url('../../images/_xls.png');
}
a[href$=".pdf"]::before,
a[href$=".PDF"]::before {
    background-image: url('../../images/_pdf.png');
}
a[href$=".ppt"]::before,
a[href$=".PPT"]::before,
a[href$=".pptx"]::before,
a[href$=".PPTX"]::before {
    background-image: url('../../images/_ppt.png');
}
a[href$=".doc"]::before,
a[href$=".DOC"]::before,
a[href$=".docx"]::before,
a[href$=".DOCX"]::before {
    background-image: url('../../images/_doc.png');
}